*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:honeydew;
}

/* ============================ Header ============================ */

.header{
    background-color: rgb(0, 69, 0);
    height: 150px;
}

h2{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}

.titulo{
    text-decoration: underline;
    color:azure;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px 40px;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 40px;
}

a.home{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.acomod{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.serv{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.galeria{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

a.contato{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}


/* ============================ Serviços ============================ */

section{
    display: flex;
    flex-direction: column;
}

.divimg{
    display: flex;
    justify-content: center;
}

.massagem{
    max-width: 30%;
    max-height: 30%;
    padding: 40px;
    border-radius: 15%;
}

.massagemp{
    font-size: 20px;
    text-align: center;
    background-color: rgb(158, 158, 158);
    color: white;
}

.spa{
    max-width: 30%;
    max-height: 30%;
    padding: 40px;
    border-radius: 15%;
}

.spap{
    font-size: 20px;
    text-align: center;
    background-color: rgb(158, 158, 158);
    color: white;
}

.infantil{
    max-width: 30%;
    max-height: 30%;
    padding: 40px;
    border-radius: 15%;
}

.infantilp{
    font-size: 20px;
    text-align: center;
    background-color: rgb(158, 158, 158);
    color: white;
}

.cozinha{
    max-width: 30%;
    max-height: 30%;
    padding: 40px;
    border-radius: 15%;
}

.cozinhap{
    font-size: 20px;
    text-align: center;
    background-color: rgb(158, 158, 158);
    color: white;
}

.guia{
    max-width: 30%;
    max-height: 30%;
    padding: 40px;
    border-radius: 15%;
}

.guiap{
    font-size: 20px;
    text-align: center;
    background-color: rgb(158, 158, 158);
    color: white;
}